#build-pipeline-plugin-content {
	background-color: white;
	border-radius: 0;
}

#build-pipeline-plugin-content h1 {
	display: none;
}

tbody.pipelineGroup {
	background-color: #eee;
}


.build-card {
    width: 100%;
    min-width: 180px;
    background-color: #e6f1d8;
    padding: 4px;
    border-radius: 5px;
}
div.pipeline-wrapper {
    position: relative;
    background-color: #c6efff;
    padding: 10px;
    border-radius: 20px;
}
.BUILDING {
    background-color: #f7eda5;
    color: #222;
}
.SUCCESS {
    background-color: #7cd286;
    color: #222;
}
.FAILURE {
    background-color: #e87d7d;
}
.revision {
    background-color: #b5b4b4;
    text-align: center;
    padding: 4px;
    min-height: 100px;
    border-radius: 5px;
}
